* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

img {
  width: 100%;
}

#wrapper {
  background-color: #f7f7f7;
}
#wrapper .header .top_header {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}
#wrapper .header .top_header .header_logo .logo {
  width: 200px;
  height: 70px;
}
#wrapper .header .top_header .login_menu .login_menu_list {
  display: flex;
  padding-top: 4%;
}
#wrapper .header .top_header .login_menu .login_menu_list .login_menu_item {
  list-style: none;
}
#wrapper .header .top_header .login_menu .login_menu_list .login_menu_item a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px;
}
#wrapper .header .top_header .login_menu .login_menu_list .login_menu_item a svg {
  width: 15px;
  margin: 0 5px;
}
#wrapper .header .top_header .login_menu .login_menu_list .login_menu_item:not(:last-of-type) {
  border-right: 1px solid #c7c7c7;
}
#wrapper .header .bottom_header {
  background-color: white;
}
#wrapper .header .bottom_header .menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 10%;
}
#wrapper .header .bottom_header .menu_list .header_menu_item {
  list-style: none;
}
#wrapper .header .bottom_header .menu_list .header_menu_item a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px;
}
#wrapper .header .bottom_header .menu_list .header_menu_item:first-of-type {
  background-color: #6cb106;
  text-align: center;
}
#wrapper .header .bottom_header .menu_list .header_menu_item:first-of-type a {
  color: #fff;
  padding-bottom: 0;
}
#wrapper .header .bottom_header .menu_list .header_menu_item:first-of-type svg {
  width: 15px;
  fill: #fff;
}
#wrapper .content {
  margin: 0 10%;
}
#wrapper .content .offers_menu {
  margin: 50px 0;
}
#wrapper .content .offers_menu .offers_menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
#wrapper .content .offers_menu .offers_menu__list li {
  list-style: none;
  background-color: #6cb106;
}
#wrapper .content .offers_menu .offers_menu__list li a {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 10px 20px;
}
#wrapper .content .offers {
  display: flex;
  flex-wrap: wrap;
}
#wrapper .content .offers .offer-card {
  width: 47%;
  margin: 0 auto 20px;
}
#wrapper .content .offers .offer-card .offer-card__imgage {
  line-height: 1;
}
#wrapper .content .offers .offer-card .offer-card__body {
  background-color: #fff;
  padding: 0 10px;
}
#wrapper .content .offers .offer-card .offer-card__body .offer-card__info h5 {
  font-size: 30px;
  margin: 0;
}
#wrapper .content .offers .offer-card .offer-card__body .offer-card__info p {
  color: #ababab;
  margin: 0;
}
#wrapper .content .offers .offer-card .offer-card__body .offer-card__price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper .content .offers .offer-card .offer-card__body .offer-card__price p {
  color: #ababab;
  margin: 0;
}
#wrapper .content .offers .offer-card .offer-card__body .offer-card__price p span {
  display: block;
  color: #5da132;
  font-size: 30px;
  font-weight: bold;
}
#wrapper .content .offers .offer-card .offer-card__body .offer-card__price a {
  color: #5da132;
  text-decoration: none;
  border: 2px solid #5da132;
  padding: 5px 10px;
}
#wrapper .content .offers .offer-card .offer-card__body .offer-card__price a::after {
  content: ">";
  margin-left: 3px;
}
#wrapper .content .offers_info_container {
  background-color: #fff;
  padding: 20px;
}
#wrapper .content .offers_info_container h6 {
  font-size: 24px;
  margin: 0;
}
#wrapper .content .offers_info_container p {
  color: #ababab;
}
#wrapper .content .container_links {
  margin: 50px 0;
}
#wrapper .content .container_links ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
#wrapper .content .container_links ul li a {
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrapper .content .container_links ul li a svg {
  width: 30px;
  height: 30px;
  fill: #5da132;
}
#wrapper .content .related-contents {
  display: flex;
  justify-content: space-between;
}
#wrapper .content .related-contents .related-content__item {
  width: 32%;
  margin: 0 auto;
}
#wrapper .content .related-contents .related-content__item:first-of-type {
  margin-left: 0;
}
#wrapper .content .related-contents .related-content__item:last-of-type {
  margin-right: 0;
}
#wrapper .footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3% 10%;
}
#wrapper .footer .footer-top .footer-top__item {
  text-align: center;
}
#wrapper .footer .footer-top .footer-top__item p {
  color: #5da132;
  font-weight: 600;
}
#wrapper .footer .footer-top .footer-top__item ul {
  padding: 0;
  list-style: none;
}
#wrapper .footer .footer-top .footer-top__item ul li a {
  color: #000;
  text-decoration: none;
}
#wrapper .footer .footer-bottom .footer-bottom__top .footer-bottom__top-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 3% 10%;
}
#wrapper .footer .footer-bottom .footer-bottom__top .footer-bottom__top-list .footer-bottom__top-list__item {
  width: 32%;
  text-align: center;
}
#wrapper .footer .footer-bottom .footer-bottom__top .footer-bottom__top-list .footer-bottom__top-list__item svg {
  width: 100px;
  height: 50px;
  display: block;
}
#wrapper .footer .footer-bottom .footer-bottom__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3% 10%;
}
#wrapper .footer .footer-bottom .footer-bottom__bottom .footer-bottom__bottom-first img {
  width: 100px;
  display: block;
}
#wrapper .footer .footer-bottom .footer-bottom__bottom .footer-bottom__bottom-second .footer_icons {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#wrapper .footer .footer-bottom .footer-bottom__bottom .footer-bottom__bottom-second .footer_icons li {
  margin: 5px;
}
#wrapper .footer .footer-bottom .footer-bottom__bottom .footer-bottom__bottom-second .footer_icons li svg {
  width: 30px;
  height: 30px;
  fill: #5da132;
}
#wrapper .footer .footer-bottom .footer-bottom__bottom img {
  width: 100px;
}