body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a{
    text-decoration: none;
}

.header{
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 6px -6px #ccc;
}

.header-logo__img{
    width: 175px;
}

.header-links-list{
    list-style: none;
}

.content{
    width: 1200px;
    margin: 100px auto;
}

.signin-options__buttons{
    display: flex;

}

.signin-options__button{
    color: #fff;
    padding: 10px;
    border: none;
    display: flex;
    margin: 0 15px;
}

.signin-options__button span{
    vertical-align: middle;
}

.signin-options__button-google{
    background-color: #4285f4;
    margin-left: 0;
}

.signin-options__button-facebook{
    background-color: #2c4891;
}

.google-icon, .facebook-icon{
    fill: #fff;
    margin: 0 5px;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}


.signin-form__input-wrapper{
    margin: 15px 0;
}

.signin-form__label{
    font-weight: 600;
}

.signin-form__input-text{
    width: 500px;
    display: block;
    height: 25px;
    margin-top: 5px;
}

.signin-form__button{
    color: #ccc;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px dashed #ccc;
}

.footer{
    box-shadow: 0 -8px 6px -6px #ccc;
}

.footer-content{
    padding: 20px 60px;
    display: flex;
}

.footer-list{
    margin: 16px 80px;
    display: flex;
    list-style: none;
}

.footer-list__item{
    margin: 0 10px
}

.footer-list__item-link{
    color: #555;
}