body{
    font-family: "Roboto-Regular";
    margin: 0;
}

ul{
    list-style: none;
}

.container{
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.container_justify{
    align-items: center;
    justify-content: space-between;
}