body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;   
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.divider{
    height: 2px;
    background-color: #f3f3f3;

}

.container h1{
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  
  .product-card {
    display: flex; 
    flex-direction: column;
    flex: 0 1 16%;
    padding: 2%;

  }

  .product-image img {
    max-width: 100%;
  }

  .product-info {
    margin-top: auto;
  }

  .product-info h5, 
  .product-info h6{
    margin: 0;
    text-align: center;
  }

  .newsletter{
    text-align: center;
    padding: 20px 0;
  }

  .newsletter p{
    margin: 0;
  }

  .newsletter .newsletter_info p:first-of-type{
    font-weight: 700;
  }

  .newsletter_form{
    margin-top: 15px;
  }

  .newsletter_form .form_input{
    border: none;
    border-bottom: 1px solid #000;
    width: 300px;
    padding: 10px 0;
  }

  .newsletter_form .form_input::placeholder{
    text-align: center;
    color: #000;
    font-size: 10px;
  }

  .footer_top{
    text-align: center;
  }

  .footer_top ul{
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .footer_top ul li{
    padding: 5px;
    padding-left: 0;
  }

  .footer_top ul li:after{
    content: ' | ';
  }
  
  .footer_top ul li:last-of-type:after{
    content: '';
  }

  .footer_bottom{
    display: flex;
    justify-content: space-around;
  }

  .footer_bottom p{
    font-weight: bold;
    font-size: 15px;
  }

  .footer_bottom ul{
    padding: 0;
  }

  .footer_bottom li{
    font-size: 10px;
    padding: 2px;
  }