body{
    font-family: "Roboto-Regular";
    margin: 0;
}

ul{
    list-style: none;
}

.container{
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.container_justify{
    align-items: center;
    justify-content: space-between;
}

.line_title{
    display: inline-block;
    position: relative;
}

.line_title::after, .line_title::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #000;
    top: 0.5em;
}

.line_title::before{
    left: -130px;
}

.line_title::after{
    right: -130px;
}