#footer{
    background-color: rgba(243, 240, 240, 0.856);
}

#footer .container{
    flex-direction: column;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer_tittle{
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_section ul{
    padding: 0;
}

.footer_section span, .footer_section ul li{
    font-size: 14px;
}

.add_info span{
    display: block;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
}



.footer_bottom_section p{
    font-size: 12px;
}


.rrss{
    display: flex;
    padding: 0;
}

.rrss li{
    margin: 0 10px;
  }