#header{
    background-color: rgba(243, 240, 240, 0.856);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#header h1{
    margin: 0;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-content: center;
}

.menu .menu_item{
    margin: 0 20px;
}

.menu .menu_item a{
    color: #494848;
    text-decoration: none;
    padding: 0 0 10px;
}

.menu .menu_item a:hover{
    border-bottom: 2px solid #b88437;
}

.menu .menu_item a.selected{
    border-bottom: 2px solid #b88437;
}