/* HOME */
#home {
  position: relative;
}
#home .bg_home {
  background-image: url("../images/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 70%;
}
#home .container_home {
  position: absolute;
  top: 0;
  width: 100%;
}
#home .info_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .info_home .central_logo {
  padding-top: 180px;
  width: 350px;
  height: 350px;
}

.welcome_text {
  font-size: 70px;
  color: rgba(0, 0, 0, 0.685);
}

/* CONCEPTO */
#concept {
  position: relative;
}
#concept .bg_concepto {
  background-image: url("../images/bg_concepto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 70%;
}
#concept .container_concepto {
  position: absolute;
  top: 0;
  width: 100%;
}
#concept .bg_info {
  background-image: url("../images/bg_concepto_section.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 650px;
  height: 100vh;
  margin: 0 auto;
}
#concept .info_text {
  position: absolute;
  top: 300px;
  width: 500px;
  margin: 0 auto;
  padding: 70px;
}

/* FOTOS */
#photos {
  position: relative;
}
#photos .bg_home {
  background-image: url("../images/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 70%;
}
#photos .container_photos {
  position: absolute;
  top: 0;
  width: 100%;
}
#photos .container_photos .gallery {
  width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#photos .container_photos .gallery .photo {
  margin: 5px auto;
}
#photos .container_photos .gallery .photo .image {
  width: 250px;
  height: 300px;
}

/* MENU */
#menu {
  width: 1200px;
  margin: 0 auto;
}
#menu .r-menu_header {
  text-align: center;
}
#menu .r-menu_header .r-menu_list {
  padding: 0;
  width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}
#menu .r-menu_header .r-menu_list li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
#menu .r-menu_wrapper {
  position: relative;
}
#menu .r-menu_wrapper .bg_home {
  background-image: url("../images/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 70%;
}
#menu .r-menu_wrapper .r-menu_container {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#menu .r-menu_wrapper .r-menu_container .r-menu_item {
  background-color: #fff;
}
#menu .r-menu_wrapper .r-menu_container .r-menu_item table {
  margin: 50px 5px;
}
#menu .r-menu_wrapper .r-menu_container .r-menu_item table tr th {
  text-align: left;
  padding: 10px;
}
#menu .r-menu_wrapper .r-menu_container .r-menu_item table tr td {
  padding: 10px;
  font-size: 12px;
}
#menu .r-menu-all-link-container {
  margin: 30px 0;
  text-align: center;
}
#menu .r-menu-all-link-container .r-menu-all-link {
  text-decoration: none;
  background-color: #b88437;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

/* RESERVAS */
#booking {
  position: relative;
}
#booking .bg_home {
  background-image: url("../images/bg_reserva.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 70%;
}
#booking .container_booking {
  position: absolute;
  top: 0;
  width: 100%;
}
#booking .container_booking .r-menu_header {
  text-align: center;
}
#booking .container_booking .r-menu_header .line_title {
  color: #fff;
}
#booking .container_booking .r-menu_header .line_title::after, #booking .container_booking .r-menu_header .line_title::before {
  background-color: #b88437;
}
#booking .container_booking .r-booking_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
#booking .container_booking .r-booking_container .r-booking_form {
  flex: 1;
  margin: 0 2%;
}
#booking .container_booking .r-booking_container .r-booking_form fieldset {
  border: none;
  padding: 10px 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
#booking .container_booking .r-booking_container .r-booking_form fieldset .booking-form__input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}
#booking .container_booking .r-booking_container .r-booking_form fieldset .booking-form__input-wrapper label {
  color: #fff;
}
#booking .container_booking .r-booking_container .r-booking_form fieldset .booking-form__input-wrapper .booking-form__select {
  padding: 5px;
}
#booking .container_booking .r-booking_container .r-booking_form .booking-form__buttons {
  padding: 0 11px;
}
#booking .container_booking .r-booking_container .r-booking_form .booking-form__buttons .booking-form__button {
  width: 100%;
  padding: 5px;
  font-weight: 700;
}
#booking .container_booking .r-booking_container .r-booking_form .booking-form__links {
  padding: 0 11px;
}
#booking .container_booking .r-booking_container .r-booking_form .booking-form__links .booking-form__links-title {
  color: #fff;
  font-weight: 700;
  margin: 30px 0 0;
  font-size: 12px;
}
#booking .container_booking .r-booking_container .r-booking_form .booking-form__links .booking-form__link {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}
#booking .container_booking .r-booking_container .r-booking_info {
  flex: 1;
  margin: 0 2%;
}
#booking .container_booking .r-booking_container .r-booking_info .booking_info-title {
  color: #b88437;
  font-size: 30px;
  margin: 10px 0 5px;
}
#booking .container_booking .r-booking_container .r-booking_info .booking_info-subtitle {
  color: #fff;
  font-size: 24px;
  margin: 0;
  letter-spacing: 4px;
}
#booking .container_booking .r-booking_container .r-booking_info .divider {
  border-top: 1px solid #fff;
  width: 25%;
  margin: 5px 0;
}
#booking .container_booking .r-booking_container .r-booking_info .booking_info-container {
  margin: 40px 0;
}
#booking .container_booking .r-booking_container .r-booking_info .booking_info-container span {
  display: block;
  color: #fff;
}

/* BLOG */
#blog .container_blog .r-menu_header {
  text-align: center;
}
#blog .container_blog .r-menu_header .line_title::after,
#blog .container_blog .r-menu_header .line_title::before {
  background-color: #b88437;
}
#blog .container_blog .entries {
  width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#blog .container_blog .entries .entry {
  color: #fff;
  width: 250px;
  height: 350px;
  margin: 0 auto;
  padding: 10px;
  background-image: url("../images/blog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#blog .container_blog .entries .entry .entry-tags span {
  border: 1px solid #fff;
  font-size: 12px;
  padding: 0 10px;
}
#blog .container_blog .entries .entry .entry-content {
  margin: 60px 10px;
}
#blog .container_blog .entries .entry .entry-content .entry-date {
  font-size: 10px;
}
#blog .container_blog .entries .entry .entry-content .entry-title {
  margin: 0;
  font-size: 20px;
}
#blog .container_blog .entries .entry .entry-footer {
  border-top: 1px solid #fff;
  font-size: 12px;
  padding: 5px 0px;
}
#blog .container_blog .entries .entry .entry-footer span {
  margin: 0 5px;
}
#blog .container_blog .entries .entry .entry-footer span .entry-icon {
  fill: #fff;
  width: 12px;
}
#blog .container_blog .blog__links {
  text-align: center;
  margin-bottom: 50px;
}
#blog .container_blog .blog__links .blog__link {
  text-decoration: none;
  background-color: #b88437;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

/* CONTACTO */
#contact .contact-container {
  position: relative;
}
#contact .contact-container .bg_home {
  background-image: url("../images/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 70%;
}
#contact .contact-container .contact-info {
  color: #fff;
  position: absolute;
  top: 0;
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .contact-container .contact-info .contact-image {
  width: 200px;
}
#contact .contact-container .contact-info .contact-title {
  font-weight: bold;
  margin: 40px 0;
}
#contact .contact-container .contact-info .contact-info__items {
  display: flex;
}
#contact .contact-container .contact-info .contact-info__items .contact-info__item {
  display: flex;
  align-items: center;
  margin: 20px 100px;
  flex-direction: column;
}
#contact .contact-container .contact-info .contact-info__items .contact-info__item svg {
  width: 30px;
  margin-bottom: 10px;
  fill: #b88437;
}
#contact .contact-social-links {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .contact-social-links .r-menu_header .line_title::after, #contact .contact-social-links .r-menu_header .line_title::before {
  background-color: #b88437;
}
#contact .contact-social-links .contact-social-links__buttons {
  margin-top: 30px;
}
#contact .contact-social-links .contact-social-links__buttons .contact-social-link {
  color: #000;
  text-decoration: none;
  padding: 5px 25px;
  margin: 0 40px;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size: 12px;
}